name: Spring Boot CI/CD Workflow

on:
  push:
    branches:
      - main
    paths:
      - 03-springboot/**
      - .github/workflows/spring-boot.yml
      - .github/workflows/native-image.yml

jobs:
  build-native-image-and-container-image:
    uses: ./.github/workflows/native-image.yml
    secrets: inherit
    with:
      app-name: spring-native
      app-path: 03-springboot
      app-native-image-path: build/native/nativeCompile
      app-native-image-name: spring-native

  deploy-on-cloud-run:
    name: ☸️ Deploy Application To Cloud Run
    runs-on: ubuntu-latest
    continue-on-error: true
    environment: GCP Cloud Run
    needs:
      - build-native-image-and-container-image
    if: ${{ success() }}
    steps:

      - uses: actions/checkout@v4

      - name: Google Auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}
          token_format: access_token

      - name: Deploy to Cloud Run
        id: deploy
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: spring-native
          region: europe-west9
          image: docker.io/nzuguem/spring-native:latest
          suffix: ${{ github.sha }}
          flags: >
            --min-instances=0
            --allow-unauthenticated
            --concurrency=1

      - name: Show Output
        run: echo ${{ steps.deploy.outputs.url }}